<nav [ngClass]="isSidebarOpen ? 'sidebar-open' : 'sidebar-closed'">
  @for (dashboard of dashboards(); track dashboard.id) {
    <a
      [class.active]="activeDashboardId() === dashboard.id"
      (click)="onClickDashboard(dashboard.id)"
    >
      <i class="fa-solid {{ dashboard.icon | iconMapper }}"></i>{{ dashboard.title | capitalize }}
    </a>
  }
</nav>
<div class="tools" [ngClass]="isSidebarOpen ? 'sidebar-open' : 'sidebar-closed'">
  <a class="button" (click)="onAddDashboard()">+ Add Dashboard</a>
</div>
<ng-template #addDashboardTemplate>
  <app-add-dashboard-form></app-add-dashboard-form>
</ng-template>
