<nav [ngClass]="isSidebarOpen ? 'sidebar-open' : 'sidebar-closed'">
  @for (dashboard of dashboards(); track dashboard.id) {
    <a
      [class.active]="activeDashboardId() === dashboard.id"
      (click)="onClickDashboard(dashboard.id)"
    >
      <i class="fa-solid {{ dashboard.icon | iconMapper }}"></i>{{ dashboard.title }}
    </a>
  }
  @for (link of linkList; track link.id) {
    <a [routerLink]="[link.id]" routerLinkActive="active">
      <i class="fa-solid {{ link.icon | iconMapper }}"></i>{{ link.title }}</a
    >
  }
</nav>
<div class="tools" [ngClass]="isSidebarOpen ? 'sidebar-open' : 'sidebar-closed'">
  <a class="button" (click)="onAddDashboard()">+ Add Dashboard</a>
</div>
