@use '../../../styles/variables' as *;

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.card__container {
  background-color: $background-color-secondary;
  border-radius: 1rem;
  border: 1px solid $grey-color;

  @include responsive-card-padding;
}

.items__container {
  font-size: 0.875rem;
}

.items__container.verticalLayout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.items__container.horizontalLayout {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}
