@use '../../../styles/variables' as *;

:host {
  width: 4rem;
  background-color: $background-color-secondary;
  border-right: 1px solid $grey-color;
  overflow: hidden;
  transition: width 0.5s;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-shrink: 0;

  &.sidebar--open {
    width: 14rem;

    @media (max-width: 980px) {
      width: 100%;
    }
  }
}
