@use '../../../styles/variables' as *;

.tab-header {
  width: 100%;
  height: 72px;
  display: flex;
  background-color: $background-color-secondary;
}

button {
  background: none;
  border: none;
  color: $grey-middle-color;
  cursor: pointer;
  border-bottom: 2px solid $background-color-secondary;
  font-weight: 600;
  transition:
    border 0.25s linear,
    color 0.25s linear;

  @include responsive-container-padding;
}

.active {
  color: $grey-light-color;
  border-bottom: 3px solid $grey-light-color;
}

.tab-content {
  @include responsive-container-padding;
}

.loading {
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey-light-color;

  i {
    font-size: 2rem;
    animation: rotate 2s linear infinite;
  }

  span {
    margin-left: 0.75rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
