:host {
  line-height: 1rem;
  border-top: solid 1px $grey-color;

  @include responsive-container-padding;
}

a {
  display: block;
  padding: 0;
  margin: 0;
  width: 12rem;
  font-size: 0.75rem;
}
