$primary-color: #56d5ff;
$secondary-color: #4498dd;
$grey-color: #333;
$grey-middle-color: #6a6a6a;
$grey-light-color: #a0a0a0;
$background-color-primary: #121212;
$background-color-secondary: #161718;
$text-color: #f1f1f1;
$warning-color: #e53935;
$success-color: #4caf50;

@mixin responsive-container-padding {
  padding: 1.5rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

@mixin responsive-card-padding {
  padding: 1rem;

  @media (max-width: 768px) {
    padding: 0.75rem;
  }
}

@mixin base-item-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    display: flex;
    align-items: center;

    i {
      margin-right: 0.5rem;
    }
  }
}

@mixin base-item-vertical {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;

  .title {
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    .icon {
      width: 100%;
      order: 2;
    }

    i {
      margin-right: 0.5rem;
    }
  }
}
