$primary-color: #56d5ff;
$secondary-color: #4498dd;
$grey-color: #333;
$grey-middle-color: #6a6a6a;
$grey-light-color: #a0a0a0;
$background-color-primary: #121212;
$background-color-secondary: #161718;
$text-color: #f1f1f1;
$error-color: #e53935;
$success-color: #4caf50;

@mixin responsive-container-padding {
  padding: 1.5rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}
