:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  max-width: 100%;
  height: 100%;
  margin: auto;

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
    max-width: calc(100% - 2rem);
    padding: 1rem;
  }
}

.desk {
  display: flex;
  align-items: center;
}

.image {
  width: 400px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin-right: 2rem;
  background-image: url('/assets/images/raccoon.png');
  background-position: -400px center;
  background-repeat: no-repeat;
  background-size: cover;
  animation:
    blink 0.5s steps(2),
    blink 0.75s steps(2) 1 5s,
    blink 0.35s steps(2) 1 7s,
    blink 0.5s steps(2) 1 10s,
    blink 0.25s steps(2) 2 25s,
    blink 0.35s steps(2) 2 120s;
}

@keyframes blink {
  0% {
    background-position: -400px center;
  }
  100% {
    background-position: 400px center;
  }
}

h1 {
  font-size: 5rem;
}

.text {
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .desk {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .image {
    margin: auto 0;
    width: 80%;
  }

  .text {
    margin-bottom: 3rem;
  }
}
