@use '../../../styles/variables' as *;

:host {
  display: block;
  @include responsive-container-padding;
}

.form {
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 1.5rem;
    margin: 1rem;
  }
}
