@import 'styles/variables';
@import 'styles/form';
@import 'normalize.css/normalize.css';

body {
  font-family: 'Roboto', sans-serif;
  background-color: $background-color-primary;
  color: $text-color;
}

h1 {
  color: $text-color;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $secondary-color;
  transition: color 0.25s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $primary-color;
    }
  }

  &:active {
    color: $primary-color;
  }
}

.icon {
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.icon i {
  color: $grey-middle-color;
}

.icon.active i {
  color: $primary-color;
}
