@use '../../../styles/variables' as *;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.dashboard__header {
  width: 100%;
  background-color: $background-color-secondary;
}

.header__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dashboard__tabs {
  overflow: auto;
  display: flex;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
}

.dashboard__tabs::-webkit-scrollbar {
  display: none; /* Chrome, Safari и Opera */
}

.button_tab {
  background: none;
  border: none;
  color: $grey-middle-color;
  cursor: pointer;
  border-bottom: 2px solid $background-color-secondary;
  font-weight: 600;
  transition:
    border 0.25s linear,
    color 0.25s linear;

  @include responsive-container-padding;

  @media (hover: hover) and (pointer: fine) {
    &:not(.active):hover {
      color: $text-color;
    }
  }
}

.dashboard__tools {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 4px;
  margin-right: 2rem;

  @media (max-width: 980px) {
    margin-right: 1rem;
  }
}

.button_icon {
  background: none;
  border: none;
  color: $grey-middle-color;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.25s linear;
  padding: 0;
  margin: 0 1rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $text-color;
    }
  }

  @media (max-width: 980px) {
    padding: 0.5rem 1rem;
  }
}

.active {
  color: $grey-light-color;
  border-bottom: 3px solid $grey-light-color;
  cursor: auto;
}

.dashboard__content {
  @include responsive-container-padding;
}

.loading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey-light-color;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  i {
    font-size: 2rem;
    animation: rotate 2s linear infinite;
  }

  span {
    margin-left: 0.75rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dashboard__title {
  display: flex;
  align-items: center;
  @include responsive-container-padding;
}

h1 {
  margin: 0;
  color: $secondary-color;
}

.dashboard__title .button_icon {
  pointer-events: none;
  color: $secondary-color;
}
