@if (showLoading()) {
  <div class="loading"><i class="fa-solid fa-circle-notch"></i><span>Loading...</span></div>
} @else {
  <div class="tabs__header">
    <div class="tabs__list">
      @for (tab of tabs(); track tab.id) {
        <button [class.active]="activeTabId() === tab.id" (click)="onTabButton(tab.id)">
          {{ tab.title | capitalize }}
        </button>
      }
    </div>
    <div class="tabs__tools">
      @if (dashboardId() != 'overview') {
        <button class="button_delete" (click)="onDashboardDeleteButton()">
          <i class="fa-trash fa-solid"></i>
        </button>
      }
    </div>
  </div>

  <div class="tabs__content">
    <app-card-list [cardsData]="activeTabCards()"></app-card-list>
  </div>
}
<ng-template #deleteConfirmDashboardTemplate>
  <app-confirm-delete-dashboard></app-confirm-delete-dashboard>
</ng-template>
